<h1 mat-dialog-title>Edit player</h1>


<div class="profile-picture-container" [ngStyle]="{ 'display': 'flex', 'gap': '16px', 'padding': '16px' }">
    <img [mat-dialog-close]="picture" class="profile-picture" *ngFor="let picture of allProfilePictures"
        src="assets/img/profile/{{ picture }}" alt="">
</div>

<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
    <button mat-button color="warn" [mat-dialog-close]="'DELETE'" cdkFocusInitial>Delete player</button>
</mat-dialog-actions>
